{#
/**
 * @file dd_authors.html.twig
 * Default theme implementation to present DD Authors data.
 *
 * This template is used when viewing DD Authors pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dd_authors()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dd_authors') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
