<div id='video-editor-menu'>
  <ul class="video-editor-menu-list">
  {% for item in items %}
    <li class="menu-item">{{ item }}</li>
  {% endfor %}
  </ul>
</div>
{{ attach_library('dd/dd-video-editor-menu') }}
