<div class="dd-cancel-subscription">
  <h1>{{ title }}</h1>
  <p>Are you sure you want to cancel your subscription to {{ items.plan }}?</p>
  <div class="form">
    {{ form }}
  </div>
</div>
{{ attach_library('dd/dd-payment-system-cancel') }}
