{#
/**
 * @file dd_committee.html.twig
 * Default theme implementation to present DD Committee data.
 *
 * This template is used when viewing DD Committee pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dd_committee()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dd_committee') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
