{#
/**
 * @file dd_bill_alert_history.html.twig
 * Default theme implementation to present Dd bill alert history data.
 *
 * This template is used when viewing Dd bill alert history pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dd_bill_alert_history()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dd_bill_alert_history') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
