<div id = "states-scroll-bar">
  <div class="states-scroll layout-center">
    <div class = "states-scroll--block">
      <h2 class = "states-scroll--header"> Select a State: </h2>
      <div class = "states-scroll--item available-state">
        <a href="{{ site_domain_urls.CA }}" class = "states-scroll--icon ca">E
          <span class = "states-scroll--name">California</span>
        </a>
      </div>
      <div class = "states-scroll--item available-state">
        <a href="{{ site_domain_urls.FL }}" class = "states-scroll--icon fl">I
          <span class = "states-scroll--name">Florida</span>
        </a>
      </div>
      <div class = "states-scroll--item available-state">
        <a href="{{ site_domain_urls.NY }}" class = "states-scroll--icon ny">h
          <span class = "states-scroll--name">New York</span>
        </a>
      </div>
      <div class = "states-scroll--item available-state">
        <a href="{{ site_domain_urls.TX }}" class = "states-scroll--icon tx">q
          <span class = "states-scroll--name">Texas</span>
        </a>
      </div>
    </div>
    <!--<div class = "states-scroll--block future-states-block">
      <p class = "states-scroll--future-states"><span class = "coming-soon">Coming Soon:</span> Florida, Texas </p>
    </div>-->
  </div>
</div>
