<header class="header" role="banner">

  <div id="block-dd-branding" class="contextual-region block block-system block-system-branding-block">
    <a href="/" title="Home" rel="home" class="site-logo">
      <img src="/themes/custom/dd/digital-democracy__needs-svg.png" alt="Home">
    </a>
  </div>



  <span class="account">
    <a href="/user">My Account</a>
  </span>

  <span class="search">
    <input value="search">
  </span>
</header>
