@import 'init';

// Address lookup form
//
// Markup: address-lookup.twig
//
// Style guide: Actions.address-lookup

.dd-address-lookup-form {
  @include dd-box-shadow();
}

#block-addresslookup {



  @include respond-to('m') {
    max-width: 364px; // Aside with on Desktop.
    margin: 0 auto;
  }

  background: $dd-yellow-light;
  color: $dd-grey;

  > h2 {
    background-color: $dd-yellow-darker;
    text-transform: uppercase;
    padding: .5rem 1rem;
    color: $dd-black;
  }

  > * {
    padding: 0 1rem;
  }

  h2 {
    margin: 0rem;
  }

  #edit-calltoaction {
    width: 100%;
    @include font-size(l);
    margin: 1rem 0;
  }

  form#dd-address-lookup-form {
    @include flex-container(space-between);
  }

  .form-item {
    @include flex-item();
    margin: 0.5rem 0;
  }

  .form-item-first-name,
  .form-item-last-name,
  .form-item-city,
  .form-item-state {
    max-width: 47%;
  }

  .form-item-first-name,
  .form-item-last-name {
    @include flex-item(1 1 43%);
  }

  .form-item-zip {
    width: 30%;
  }

  input[name='state'],
  input[name='city'] {
    width: auto !important;
  }

  input[type='submit'] {
    margin: 1rem 0;
    background: $dd-yellow-darkest;
    &:hover {
      background: $dd-blue;
    }
  }
}




