<div class="dd-share-toolbar-group">
  <a class="dd-share-toolbar-group-item" href="" target="_blank"><i class="fa fa-bell fa-2x fa-fw" aria-label="Create Alert"></i></a>
  <a class="dd-share-toolbar-group-item" href="https://digitaldemocracy.org/person/9" target="_blank"><i class="fa fa-envelope fa-2x fa-fw" aria-label="Email"></i></a>
  <a class="dd-share-toolbar-group-item" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdd8.local%2Fperson%2F9" target="_blank"><i class="fa fa-facebook fa-2x fa-fw" aria-label="Share on Facebook"></i></a>
  <a class="dd-share-toolbar-group-item" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fdd8.local%2Fperson%2F9" target="_blank"><i class="fa fa-twitter fa-2x fa-fw" aria-label="Share on Twitter"></i></a>
  <a class="dd-share-toolbar-group-item" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fdd8.local%2Fperson%2F9" target="_blank"><i class="fa fa-linkedin fa-2x fa-fw" aria-label="Share on LinkedIn"></i></a>
</div>