<div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-4ca98fb3e2ddf067efc137accc3a2ef38e044e1b8994b04b090879db1fd057bf">

  <div class="view-content">

    <div class="views-row">

      <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper">


        <a href="/hearing/1489?startTime=208&amp;vid=6d2e654a8af4c8ae30142796264d1b5a" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/6d2e654a8af4c8ae30142796264d1b5a/thumbnails/default.jpg"></a>

      </div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content">


        <a href="/hearing/1489?startTime=208&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">AB 2116</a> <span class="bill-link"><a href="/bill/CA_201520160AB2116">(Go To Bill)</a></span>

      </span></div><div class="views-field views-field-subject"><span class="field-content">


        School bonds: projections of assessed property valuations.

      </span></div><div class="views-field views-field-name"><span class="field-content">


        Assembly Floor

      </span></div><div class="views-field views-field-date-ts"><span class="field-content">

        August 16, 2016



        <div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-19b510083bef53aa11d83bdbed9707f37356fd4fbf7c618f0931479d64849304">



          <div class="view-content">

            <div class="views-row">


              <div class="views-field views-field-rendered-entity"><span class="field-content">


                <a href="/person/108">


                  <div data-quickedit-entity-id="dd_person/108" class="dd_person">


                    <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">James Gallagher</div>



                  </div>


                </a>

              </span></div>

            </div>




          </div>

        </div>


      </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content">


        <div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-19285e09232329cf952971107de070c3626c8353148571b293dd945965a3178f">



          <div class="view-content">



            <div class="utterance views-row">



              <span class="views-field views-field-nothing"><span class="field-content">


                <a href="/hearing/1489?start_time=209&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Mullin, Kevin (0:03:29)</a>


              </span></span>



            </div>
            <div class="utterance views-row">

              <span class="views-field views-field-nothing"><span class="field-content">


                <a href="/hearing/1489?start_time=215&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Secretary, Committee (0:03:35)</a>


              </span></span>



            </div>
            <div class="utterance views-row">


              <span class="views-field views-field-nothing"><span class="field-content">


                <a href="/hearing/1489?start_time=217&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Gallagher, James (0:03:37)</a>


              </span></span>

            </div>

          </div>

        </div>


      </span></div>

    </div>


  </div>

</div>
