{#
/**
 * @file dd_legislator.html.twig
 * Default theme implementation to present DD Legislator data.
 *
 * This template is used when viewing DD Legislator pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dd_legislator()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dd_legislator') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
