{#
/**
 * @file dd_legislative_staff.html.twig
 * Default theme implementation to present DD Legislative Staff data.
 *
 * This template is used when viewing DD Legislative Staff pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dd_legislative_staff()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dd_legislative_staff') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
