<div class="bill__teaser views-row">
<div class="views-field views-field-subject"><h3 class="field-content billid-subject">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/admin/structure/dd_bill_version_current/4446" hreflang="und">AB 224 - Pupils: educational liaison for foster children: notice of educational rights of foster children.</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

</h3></div><div class="views-field views-field-digest"><span class="field-content">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
&lt;p&gt;Existing law requires each local educational agency, as defined, to designate a staff person as the educational liaison for foster children, as defined. Existing law requires the educational…
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

</span></div><div class="views-field views-field-nothing-2"><span class="views-label views-label-nothing-2">Principal Author: </span><span class="field-content">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/person/87">Jones-Sawyer, Reginald</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

</span></div><div class="views-field views-field-view"><strong class="views-label views-label-view bill-discussion-list">Bill Discussions</strong><span class="field-content">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/views/views-view.html.twig' -->
<div class="view view-bill-discussion-list view-id-bill_discussion_list view-display-id-default js-view-dom-id-7929d3d62c0c93b2d7b00a61bfcf2ec293023cbc9251b45da54883248652b843">



      <div class="view-content">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_unformatted' -->
<!-- BEGIN OUTPUT from 'core/themes/classy/templates/views/views-view-unformatted.html.twig' -->
    <div class="views-row">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->
<div class="views-field views-field-hid"><span class="field-content">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/hearing/562?startTime=1703&amp;vid=hlltK4ejvk4">Assembly Floor - September 8, 2015</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

</span></div>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->


  </div>
    <div class="views-row">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->
<div class="views-field views-field-hid"><span class="field-content">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/hearing/1075?startTime=1194&amp;vid=S0z4HXk6SeA">Senate Floor - September 7, 2015</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

</span></div>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->


  </div>
    <div class="views-row">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->
<div class="views-field views-field-hid"><span class="field-content">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/hearing/388?startTime=1619&amp;vid=1hAzPTMXg3M">Senate Standing Committee on Appropriations - July 5, 2015</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

</span></div>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->


  </div>
    <div class="views-row">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_fields' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->
<div class="views-field views-field-hid"><span class="field-content">

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'views_view_field' -->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->
<a href="/hearing/346?startTime=1308&amp;vid=-Bv1QTsnUc8">Assembly Standing Committee on Education - March 24, 2015</a>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

</span></div>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->


  </div>

<!-- END OUTPUT from 'core/themes/classy/templates/views/views-view-unformatted.html.twig' -->


    </div>

          </div>

<!-- END OUTPUT from 'core/themes/classy/templates/views/views-view.html.twig' -->


<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-field.html.twig' -->

</span></div>
<!-- END OUTPUT from 'core/themes/stable/templates/views/views-view-fields.html.twig' -->


  </div>