{#
/**
* @file
* Component for Showing / hiding content.
*
* Variables:
* - content: [string] The component contents.
*/
#}

<div class="showhide">
  <div class="view-header">
    <h3>{{content.title}}</h3>
  </div>

  <div class="view-content">
    {{content.body}}
  </div>
</div>

<div class="view-grouping">
  <div class="view-grouping-header">July 31, 2016</div>
  <div class="view-grouping-content"><div class="view-grouping-header-depth2 group-0 collapsible-group">Assembly Floor</div><div class="view-grouping-content-depth2 group-0 collapsible-group">    <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-1c9b21987ab7ae091155ac8f1178a12cc2a39474ef1736abbee41410b1b0e352">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=208&amp;vid=6d2e654a8af4c8ae30142796264d1b5a" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/6d2e654a8af4c8ae30142796264d1b5a/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=208&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">AB 2116</a> <span class="bill-link"><a href="/bill/CA_201520160AB2116">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">School bonds: projections of assessed property valuations.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-41c43486fd69a0881726a6c27cec8c36542e38a02bee4afb1dda42f36f550ffb">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/108"><div data-quickedit-entity-id="dd_person/108" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">James Gallagher</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-058b963fa8e71435bc55e067c00aed8d6f25fca515f0361c38f060a5dd16770f">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=209&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Mullin, Kevin (0:03:29)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=215&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Secretary, Committee (0:03:35)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=217&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Gallagher, James (0:03:37)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-90a16b7e1250edbac521a4167b624f18bd9906cb5cd683f2637b92758933a969">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=159&amp;vid=6d2e654a8af4c8ae30142796264d1b5a" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/6d2e654a8af4c8ae30142796264d1b5a/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=159&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">SB 875</a> <span class="bill-link"><a href="/bill/CA_201520160SB875">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Solemnization of marriage: county sheriff.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 25, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-e983420a635f64c4e972ecf291c6021e68f12feb8c08b5bdb5c1fdee9a7e6304">




          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-73df764dd3b35ae3e75c8a9c792c96e5220dbcaf08a49c684a1024d4c14e3901">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=159&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Mullin, Kevin (0:02:39)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=160&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Secretary, Committee (0:02:40)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=173&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Gaines, Beth (0:02:53)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-98e74d426e78513adbd9584f448d28b745a25e1037fbd9da16773e127f67172b">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=86&amp;vid=6d2e654a8af4c8ae30142796264d1b5a" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/6d2e654a8af4c8ae30142796264d1b5a/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=86&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">SB 759</a> <span class="bill-link"><a href="/bill/CA_201520160SB759">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Prisoners: segregation housing.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 24, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-d8c481e7366cb9a5c54c493d5bb5f640345c9e6f036e15f702e2cf1994156242">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/57"><div data-quickedit-entity-id="dd_person/57" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Joel Anderson</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-ea022933c3aadd5c9a1ddf7527b3629dfd18cc95b74964c4b237445a660cca48">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=87&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Mullin, Kevin (0:01:27)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=95&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Secretary, Committee (0:01:35)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=104&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Quirk, Bill (0:01:44)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-64989c5d6acf1a4ee23e5b55b2de5bb087d705020a90e992028baffa24c6ca42">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=0&amp;vid=6d2e654a8af4c8ae30142796264d1b5a" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/6d2e654a8af4c8ae30142796264d1b5a/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=0&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">SB 448</a> <span class="bill-link"><a href="/bill/CA_201520160SB448">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Sex offenders: Internet identifiers.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 25, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-102216dd3fd2d430ac5a18edf3ea4a62e44a276d3bcf6a0f101a1d7eaef72946">




          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-f06b1fb44b9ed7ca0948a052ae79434e0e439deecd0fb10b5d1e4f0f7bd62a72">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=10&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Mullin, Kevin (0:00:10)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=14&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Secretary, Committee (0:00:14)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=30&amp;vid=6d2e654a8af4c8ae30142796264d1b5a">Jones-Sawyer, Reginald (0:00:30)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-24d15862c2f2a9b51f514dcb6f6079a2cf47db273c4f05a587bc8512757155a1">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=1258&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=1258&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">ACR 198</a> <span class="bill-link"><a href="/bill/CA_201520160ACR198">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Sun safety.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 24, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-a3e432b8fb898544ae39ad9bcb508a01d1ec04ef7c71ef62a87422dd9f40d1fc">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/117"><div data-quickedit-entity-id="dd_person/117" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Richard Gordon</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-86407b1260515124a618eb58fb626dad5a48801b85e1990568ae4b3de2ba6702">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1258&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Secretary, Committee (0:20:58)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1263&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:21:03)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1264&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Gordon, Richard (0:21:04)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-563fcd2bd34d6ca0c83138c4fa61a7503db234dd48150c7cb8ca024e0d58ccf2">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=1146&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=1146&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">HR 43</a> <span class="bill-link"><a href="/bill/CA_201520160HR43">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content"></span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">July 31, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-fdd95c132c2a46258bf69f3fbc52d860faa89e252126607c1d15d6b1ef843e86">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/109"><div data-quickedit-entity-id="dd_person/109" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Beth Gaines</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-86371b2d3e6f0db6a91da4a9e6bbb8192bed92974213c588bc5a77c4c6499b64">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1147&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Secretary, Committee (0:19:07)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1152&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:19:12)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1153&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Gaines, Beth (0:19:13)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-cf276518ef661fe44d3fcae71ef6d304271020e7fc40ed5ca3018ba9a7b21f14">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=1071&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=1071&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 2874</a> <span class="bill-link"><a href="/bill/CA_201520160AB2874">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Groundwater sustainability agencies: fees.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-d99e5cbea34d111dc383e2968827e27dff606c3ac5c6f299e652e94827334fcf">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/109"><div data-quickedit-entity-id="dd_person/109" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Beth Gaines</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-de882a6c5171227c61ef0f72c45a7e45d9d4a116b39c5a1341d02cf0278bb3eb">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1071&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Secretary, Committee (0:17:51)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1076&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:17:56)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1077&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Gaines, Ted (0:17:57)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-b8e00c7327f0e818ec477270e6b8f51bdbffd70c1a8920069a584d70756b80eb">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=1004&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=1004&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 2710</a> <span class="bill-link"><a href="/bill/CA_201520160AB2710">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Insurance: California Insurance Guarantee Association: premium charges.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-2520110b4ad1619e6073434beae66d795d779f0358a2029743adf91f3d20ad76">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/45"><div data-quickedit-entity-id="dd_person/45" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Ken Cooley</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-c809ac842c18d7b83b7e2da05a5c2183f5be16342a63b6c269f25d2933d3a32b">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1008&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:16:48)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=1010&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Cooley, Ken (0:16:50)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-2358b3b259f0e4905b860b26d4d22f6c896347152565a730d92787b23aa9279a">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=954&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=954&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 2457</a> <span class="bill-link"><a href="/bill/CA_201520160AB2457">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Autopsy: electronic image systems.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-df856b5d4e8b429f13f98c6b81d7e929be0e65f5683560eb75ee9da92557052c">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/2"><div data-quickedit-entity-id="dd_person/2" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Richard Bloom</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-3e5f55a40df880a25b0c768e42c51cd2f2b9d33d083e5d5ab745ff14a5e88033">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=955&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Secretary, Committee (0:15:55)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=959&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Bloom, Richard (0:15:59)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=978&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:16:18)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-432852ec7bac683f16d3993241460146d03c0a1d109d6c47af597bbf08b3be41">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=913&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=913&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 2416</a> <span class="bill-link"><a href="/bill/CA_201520160AB2416">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Escrow agent rating service. </span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-0d9171f41a07016061a2820a259ac9b379874edc3ed79e2b315ab2385e9b9753">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/19"><div data-quickedit-entity-id="dd_person/19" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Scott Wilk</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-864337a38b6511a28d58bee4e05bd8eeaca52beea8c0dfb05459fe6af0153fa5">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=913&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:15:13)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=929&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Wilk, Scott (0:15:29)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-e8449bb211c54d3f33935e0f5d316140b676fb6ed473569626b8d60b871bbf7a">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=840&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=840&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 2376</a> <span class="bill-link"><a href="/bill/CA_201520160AB2376">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">County employees’ retirement: Los Angeles County.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-dc927bc778f6d6c75e405a7bac63677fe1221107e43a7ad33f9d963271c3c1ee">




          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-0d37855b91320e2d75a51c17012022a66c2c9fdc5954a52ab7a71a237d9d6fc5">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=842&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:14:02)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=847&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Lewis, Kathleen (0:14:07)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=856&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Bonta, Rob (0:14:16)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-d956373a35bae7cd397243855bff86e91b7d18209a18ed039732dc8de5f21154">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=752&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=752&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 2128</a> <span class="bill-link"><a href="/bill/CA_201520160AB2128">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Marriage.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-7a25cdb63011ac1ed780dad16588dda9d25cfed012fb913ee48a92b8c71babc2">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/5"><div data-quickedit-entity-id="dd_person/5" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">K.H. "Katcho" Achadjian</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-8ed24e2df171911a8579fb05ac4a0fbddadcf2450083e12e41377541311a94ef">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=756&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:12:36)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=772&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Secretary, Committee (0:12:52)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=776&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Achadjian, K.H. "Katcho" (0:12:56)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-3ddde0ae66fb3d9cda0f1f951f34b84aa240ea94a06d24429239a02f879d213c">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=684&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=684&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 2010</a> <span class="bill-link"><a href="/bill/CA_201520160AB2010">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Voter’s pamphlet: electronic candidate statement.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-a3d2a93803bc80eeedb1fcb774394a7d4320aa4234bbe6d55a0233a8c0bc3e82">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/67"><div data-quickedit-entity-id="dd_person/67" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Sebastian Ridley-Thomas</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-ce0505d1a3c0ac9e16d32a1ecd9183df070e189da90c1df70322d5dcdafd2326">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=684&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Ridley-Thomas, Sebastian (0:11:24)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-243fba1429e0884ef7c7c502b0e50253aa6a5cc3f79921e3ab8c42eee6e0ebff">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=638&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=638&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 1918</a> <span class="bill-link"><a href="/bill/CA_201520160AB1918">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Teacher credentialing: temporary certificates.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-8cf4be3b690e934000ebf2b025cefc0313e09d3d09245afa18780a5a49dc23fd">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/113"><div data-quickedit-entity-id="dd_person/113" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Patrick O'Donnell</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-37e71e92e959bee53b10786fd091b7095a1158c8af3a9ec96e324aa7745d531a">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=645&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">O'Donnell, Patrick (0:10:45)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=652&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:10:52)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=680&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Secretary, Committee (0:11:20)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  <div class="views-row">
    <div class="views-field views-field-view"><span class="field-content"><div class="hearings-teaser view view-billdiscussion-teaser view-id-billdiscussion_teaser view-display-id-default js-view-dom-id-59c2c582c62793ef7e525d1ac7fa47c24c3da7dcacbbe96c07058835de34e05f">



      <div class="view-content">
        <div class="views-row">
          <div class="views-field views-field-nothing"><div class="field-content video-thumb-wrapper"><a href="/hearing/1489?startTime=590&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549" class="hearing-video-thumb"><img src="https://s3-us-west-2.amazonaws.com/videostorage-us-west/videos/251f0f176569b6d69a4d8f2fbfc6c549/thumbnails/default.jpg"></a></div></div><div class="views-field views-field-nothing-1 bill-type-number"><span class="field-content"><a href="/hearing/1489?startTime=590&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">AB 1750</a> <span class="bill-link"><a href="/bill/CA_201520160AB1750">(Go To Bill)</a></span></span></div><div class="views-field views-field-subject"><span class="field-content">Real property transactions: definitions.</span></div><div class="views-field views-field-name"><span class="field-content">Assembly Floor</span></div><div class="views-field views-field-date-ts"><span class="field-content">August 16, 2016</span></div><div class="views-field views-field-view"><span class="views-label views-label-view">Authored By: </span><span class="field-content"><div class="view view-bill-authors view-id-bill_authors view-display-id-default js-view-dom-id-766d7c7fb079421c1aea4fdd57bb313f07471abb083c26d654babc295c962349">



            <div class="view-content">
              <div class="views-row">
                <div class="views-field views-field-rendered-entity"><span class="field-content"><a href="/person/71"><div data-quickedit-entity-id="dd_person/71" class="dd_person">

                  <div class="field field--name-fullname-firstlast field--type-string field--label-hidden field__item">Bill Dodd</div>
                </div>
                </a></span></div>
              </div>

            </div>

          </div>
          </span></div><div class="views-field views-field-view-1"><span class="views-label views-label-view-1">Speakers: </span><span class="field-content"><div class="view view-billdiscussion-speakers view-id-billdiscussion_speakers view-display-id-default js-view-dom-id-6191ce35ac674b03efbd4f9eb86f57f083e62535c50327207799e0446ea937e8">



            <div class="view-content">
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=590&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Dodd, Bill (0:09:50)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=608&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Mullin, Kevin (0:10:08)</a></span></span>
              </div>
              <div class="utterance views-row">
                <span class="views-field views-field-nothing"><span class="field-content"><a href="/hearing/1489?start_time=633&amp;vid=251f0f176569b6d69a4d8f2fbfc6c549">Secretary, Committee (0:10:33)</a></span></span>
              </div>

            </div>

          </div>
          </span></div>
        </div>

      </div>

    </div>
    </span></div>
  </div>
  </div>
  </div>
</div>
