{#
/**
 * @file
 * Component for account.
 *
 * Variables:

 * - content: [string] The component contents.
 */
#}

<div class="account">
  {% block content %}
    <a href="/user">{{ content }}</a>
  {% endblock %}
</div>
